.fs-sidenav {
	min-height: 100%;
	height: 100%;
	overflow-y: auto;
}

.fs-sidenav md-sidenav {
	width: 100%;
	min-width: initial;
	flex: none;
}

.fs-sidenav md-sidenav {
    vertical-align: top;
}

.fs-sidenav .fs-sidenav-side-wrap {
	clear: both;
}

.fs-sidenav.collapsed md-sidenav {
	width: auto !important;
	min-width: initial;
	padding: 0;
}


.fs-sidenav fs-sidenav-content {
    border-left: 1px solid #E1E1E1;
    padding: 15px;
    overflow: auto;
    vertical-align: top;
    width: 100%;
}

.fs-sidenav:not(.locked-open) fs-sidenav-content {
	border: 0;
}

.fs-sidenav md-sidenav .menu-toggle {
    text-align: right;
    float: right;
    padding: 5px;
}

.fs-sidenav md-sidenav .fs-sidenav-item {
    display: block;
    cursor: pointer;
    clear: both;
}

.fs-sidenav .fs-sidenav-item a {
    color: inherit;
    text-decoration: inherit;
    display: block;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
}

.fs-sidenav .fs-sidenav-item a md-icon {
	margin-right: 7px;
}

.fs-sidenav .fs-sidenav-item > a {
    padding: 10px 35px;
}

.fs-sidenav .fs-sidenav-item[fs-disabled] {
    color: #ccc;
}

.fs-sidenav .fs-sidenav-item.selected > a {
    background-color: rgba(0,0,0,.035);
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.fs-sidenav .fs-sidenav-item.selected .fs-sidenav-subitem {
    display: block;
}

.fs-sidenav .fs-sidenav-subitem a {
    font-size: smaller;
    padding: 8px 0;
    padding-left: 45px;
}

.fs-sidenav .fs-sidenav-item.has-icon .fs-sidenav-subitem a {
    padding-left: 65px;
}

.fs-sidenav .fs-sidenav-subitem.selected {
	background: rgba(0,0,0,.08);
}

.fs-sidenav fs-sidenav-section {
	display: block;
	padding: 13px 15px;
    box-sizing: border-box;
    background: #888;
    color: #fff;
    width: 100%;
}

.fs-sidenav md-sidenav.md-locked-open-remove-active,
.fs-sidenav md-sidenav.md-closed.md-locked-open-add-active,
.fs-sidenav md-sidenav.md-closed.md-locked-open-add {
    transition: none;
}

.fs-sidenav md-sidenav:not(.md-closed):not(.md-locked-open) {
	z-index: 80;
}