
fs-sidenav {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
  
fs-sidenav fs-sidenav-side {
    border-right: 1px solid #E1E1E1; 
    width: 200px;
    min-width: 200px;
    display: block;
    padding: 12px;
    min-height: 400px;
}

fs-sidenav fs-sidenav-side fs-sidenav-item {
    display: block;    
    cursor: pointer;
    margin-right: -12px;
}

fs-sidenav fs-sidenav-side fs-sidenav-item a {
    color: inherit;
    text-decoration: inherit;
    display: block;
}

fs-sidenav fs-sidenav-side fs-sidenav-item > a {
    padding: 14px;  
}

fs-sidenav fs-sidenav-side fs-sidenav-item[fs-disabled] {
    color: #ccc;
}

fs-sidenav fs-sidenav-side fs-sidenav-item.selected > a {
    background-color: #ECECEC;
}

fs-sidenav fs-sidenav-content {
    border-left: 1px solid #E1E1E1; 
    display: block;
    margin-left: -1px;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

fs-sidenav fs-sidenav-content fs-sidenav-item {
    display: none;
}

fs-sidenav fs-sidenav-content fs-sidenav-item.selected,
fs-sidenav fs-sidenav-side fs-sidenav-subitem.selected {
    display: block;
}

fs-sidenav fs-sidenav-subitem {
    display: block;
    padding: 15px 13px 0;
    transform: scale(.85);
}

fs-sidenav fs-sidenav-subitem:last-child {
    padding-bottom: 14px;
}

fs-sidenav fs-sidenav-subitem {
    display: none;
}