<fs-sidenav fs-selected="selected" fs-width="300" fs-collapse="true">
    <fs-sidenav-side>
    	<fs-heading>Heading</fs-heading>
    	ssssssssssssssssssss
    	<fs-sidenav-section>Section 1</fs-sidenav-section>
        <fs-sidenav-item fs-name="types" fs-icon="settings">
        	<span>Types (Show){{variable}}</span>
        	<fs-sidenav-subitem>!!!!!!!!!!!!!</fs-sidenav-subitem>
      	  	<fs-sidenav-subitem fs-name="{{sub.name}}" ng-repeat="sub in subs" fs-click="clicks('text')">{{sub.name}}</fs-sidenav-subitem>
        </fs-sidenav-item>
        <fs-sidenav-item fs-name="statuses">Statuses (Show) {{variable}}</fs-sidenav-item>
        <fs-sidenav-section>Section 2</fs-sidenav-section>
        <fs-sidenav-item fs-name="plans">
            Plans (Show)
            <fs-sidenav-subitem fs-name="sub1" fs-selectable="/demo2">SubMenu1 {{variable}}</fs-sidenav-subitem>
            <fs-sidenav-subitem fs-name="sub2" fs-urls="/demo1">SubMenu1</fs-sidenav-subitem>
        </fs-sidenav-item>
        <fs-sidenav-item fs-click="clicks('text')">Something (Click)</fs-sidenav-item>
        <fs-sidenav-item fs-href="http://www.google.com">Google (Href)</fs-sidenav-item>
        <fs-sidenav-item fs-href="/page">Page (Href)</fs-sidenav-item>
        <fs-sidenav-item fs-href="/demo">Demo (Href)</fs-sidenav-item>
    </fs-sidenav-side>
    <fs-sidenav-content>
    	asdlk jasldk jalksd jlakjsd lkas
    </fs-sidenav-content>
</fs-sidenav>